footer.footer
	.footer-labels 
		each item, i in ['просто вы','Я точно нужен вам,','пока Не знаете']
			div(class=`footer-labels__item footer-labels__item--${i}`)= item
	.footer__info 
		p Если вы хотите стать #[br] частью нашей команды, #[br] но не нашли подходящую #[br] вакансию в списке #[br] выше, то #[a(href="mailto:") напишите нам]

