<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Articul
	body

		.scroller

			include ./../sections/_header.pug

			include ./../sections/_present.pug
			
			include ./../sections/_vacancy.pug

			include ./../sections/_footer.pug

			include ./../sections/_scripts.pug