button.vacancy-parameters__reply 
    svg.vacancy-parameters__replyicon(width='36' height='36' viewBox='0 0 36 36' fill='none')
        path(d='M3.00104 6.00024V9.11574L18.001 17.7776L33.001 9.11574V6.00024H3.00104ZM3.00104 12.5804V30.0002H33.001V12.5804L18.001 21.2402L3.00104 12.5804Z' fill='white')
    span.vacancy-parameters__replyname Откликнуться
    span.vacancy-parameters__replyname.vacancy-parameters__replyname--hover Откликнуться